<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/header :: header"></div>
<body>

<div th:replace="admin/header :: navbar"></div>
<div class="container">
    <div class="row">
        <h1>List Sessions</h1>
    </div>

    <!-- Week Navigation -->
    <div class="row">
        <div class="col-md-12">
            <div>
                <h2>Sessions for the week:
                    <span style="color: blue; text-decoration: underline" th:text="${#temporals.format(startOfWeek, 'dd MMM yyyy')}"></span>
                    to
                    <span style="color: blue; text-decoration: underline" th:text="${#temporals.format(endOfWeek, 'dd MMM yyyy')}"></span>
                </h2>
                <a th:href="@{/admin/sessions(startDate=${startOfWeek.minusWeeks(1)})}" class="btn btn-secondary">Previous Week</a>
                <a th:href="@{/admin/sessions(startDate=${startOfWeek.plusWeeks(1)})}" class="btn btn-secondary">Next Week</a>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <form class="form-inline" th:action="@{/admin/sessions/search}">
                    <div class="input-group">
                        <input type="text" class="form-control" name="query" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <th style="width:10%">Session Name</th>
        <th style="width:10%">Belt Rank</th>
        <th style="width:30%">Session Description</th>
        <th style="width:10%">Session Trainer</th>
        <th style="width:20%">Session Time</th>
        <th style="width:10%">Actions</th>
        </thead>
        <tbody>
        <tr th:each="session1, session1Stat : ${sessions1}">
            <td th:text="${session1.sessionName}">session name</td>
            <td th:text="${session1.beltRank}">Belt Rank</td>
            <td th:utext="${session1.description}">short description</td>
            <td th:text="${session1.trainer.getName()}">session trainer</td>
            <td th:text="${#temporals.format(session1.sessionTime, 'dd MMM yyyy @ HH:mm')}">10 JUL 2022 15:00:00</td>
            <td>
                <a th:href="@{/admin/sessions/{sessionId}/edit(sessionId=${session1.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/admin/sessions/{sessionId}/delete(sessionId=${session1.id})}" class="btn btn-danger">Delete</a>
                <a th:href="@{/admin/sessions/{sessionUrl}/view(sessionUrl=${session1.url})}" class="btn btn-info">View</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br /><br />
<div th:replace="admin/footer :: footer"></div>
</body>
</html>
